body {
    background-color:#edf7c1;
    font-family: Roboto;
}
.id {
    display: none;
}
.topo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 47px 0;
}
.tempocorrido {
    position: fixed;
    top: 50px;
    right: 10px;
}
.titulo {
    font-size: 56px;
    font-weight: 700;
    line-height: 65px;
    color: #75B79E;
    text-align: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 120px;
}
.card {
    margin: 0 34px 34px 0;
    width: 117px;
    height: 146px;
    position: relative;
}
.face {
    width: 100%;
    height: 100%;
    background-color: #a7e9af;
    border-radius: 10px;
    border: 1px solid #99cea8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    transform-style: preserve-3d;
}
.face img {
    width: 100px;
    height: 100px;
}
.back-face {
    transform: rotateY(180deg);
}
.rodatras {
    transform: rotateY(0deg);
}
.rodafrente {
    transform: rotateY(-180deg);
}

@media (max-width: 425px) {
    .titulo {
        font-size: 36px;
        line-height: 42px;
    }
    .cards {
        margin: 0 100px;
    }
    .card {
        margin: 0 0 34px 0;
    }
    .tempocorrido {
        top: 100px;
    }
}